
((digest . "a028a088f69442933685abe7132cf58d") (undo-list nil (65 . 66) nil (61 . 65) nil (45 . 51) nil ("r" . -45) nil ("e" . -46) nil ("s" . -47) nil ("u" . -48) nil ("l" . -49) nil ("t" . -50) nil (45 . 51) nil (")" . 45) nil ("c." . -45) nil ("req." . -47) nil ("parm('" . -51) nil ("answer'" . -57) nil ("さ" . -75) ((marker . 61) . -1) nil ("ん" . -76) ((marker . 61) . -1) nil ("、" . -77) ((marker . 61) . -1) nil (75 . 78) nil (65 . 75) nil (58 . 65) nil (39 . 58) (37 . 38) 38 nil (37 . 38) nil (26 . 37) (24 . 25) 25 nil (24 . 25) nil (22 . 24) nil (2 . 22) nil ("-" . -2) nil ("-" . -3) nil ("!" . -4) nil (" " . -5) nil (1 . 6) (t 65535 . 65535)))
